[submodule "lib/executor"]
	path = lib/executor
	url = https://github.com/rise-lang/executor.git
[submodule "lib/yacx"]
	path = lib/yacx
	url = https://github.com/ZerataX/yacx.git
[submodule "lib/elevate"]
	path = lib/elevate
	url = https://github.com/elevate-lang/elevate.git
[submodule "lib/arithexpr"]
	path = lib/arithexpr
	url = https://github.com/rise-lang/arithexpr.git
[submodule "lib/clap"]
	path = lib/clap
	url = https://github.com/michel-steuwer/clap.git
[submodule "lib/docker-scala-opencl"]
	path = lib/docker-scala-opencl
	url = https://github.com/michel-steuwer/docker-scala-opencl
[submodule "artifact/cpu/docker-scala-opencl"]
	path = artifact/cpu/docker-scala-opencl
	url = https://github.com/michel-steuwer/docker-scala-opencl
